@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
/* font-family: "Roboto", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.create {
  max-width: 785px;
  min-width: 320px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../Login/Assets/background-main.svg);
  /* background-image: linear-gradient(124deg, #2d4c7c 40%, #d1930e 60%); */
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.lef-box {
  width: 31.25rem;
  height: 31.25rem;
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.625rem 0 0 0.625rem;
  background-image: url(../Login/Assets/left-box.svg);
  background-position: center center;
}

.lef-box h1 {
  font-size: 2.5rem;
  letter-spacing: 0.125rem;
  margin-bottom: 1.563rem;
}

.lef-box p {
  text-align: center;
}

.form-box {
  height: 31.25rem;
  width: 25rem;
  border-radius: 0 0.625rem 0.625rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
}

.form-box h4 {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
  color: #766ce7;
  text-transform: uppercase;
}

.inputs {
  height: 2.5rem;
  width: 18.625rem;
  border: none;
  border-radius: 1.25rem;
  background-color: #e8e6ff;
  padding-inline: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0.625rem center;
  background-size: 10%;
  outline: none;
}

#user-img {
  background-image: url(../Login/Assets/user-svgrepo-com.svg);
}

#password-img {
  background-image: url(../Login/Assets/password-svgrepo-com.svg);
}

.icons {
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 100%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.125rem;
}

.user input {
  margin-top: 3.125rem;
}

.password {
  margin-bottom: 1.875rem;
}

.options {
  margin-bottom: 1.125rem;
  display: flex;
  justify-content: space-between;
  gap: 0.313rem;
}

.options label {
  cursor: pointer;
}
.checkbox-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-option:checked {
  border: #5f53e7;
}
.checkbox-option:hover {
  cursor: pointer;
}

.options a {
  font-size: 0.75rem;
  color: #999999;
  margin-left: auto;
  text-decoration: none;
}

.options a:hover {
  color: #5f53e7;
}

.options label {
  font-size: 0.75rem;
  color: #999999;
  cursor: pointer;
  margin-right: 6.25rem;
}

.login {
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 0.125rem;
  width: 8.625rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  transition: transform 0.2s ease;
  background-image: linear-gradient(
    230deg,
    rgba(118, 108, 231, 1) 20%,
    rgba(191, 111, 183, 1) 48%,
    rgba(224, 124, 127, 1) 100%
  );
}

.login:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-image: linear-gradient(
    230deg,
    rgba(118, 108, 231, 0.8) 20%,
    rgba(191, 111, 183, 0.8) 48%,
    rgba(224, 124, 127, 0.8) 100%
  );
  color: white;
}
